# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\lg\Code\Tomcat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
