<component name="ArtifactManager">
  <artifact type="war" name="SpringMVC02:war">
    <output-path>$PROJECT_DIR$/SpringMVC02/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringMVC02</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringMVC02-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVC02:war exploded" />
    </root>
  </artifact>
</component>